.entire-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80%;
}

.card-content{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.mat-card{
    /* background-color: aliceblue; */
    box-shadow: 50px;
    font-family: 'Times New Roman', Times, serif;
}